<div class="p-2 px-4 mx-6">
	<!-- 
		<div *ngIf="this.patientSelected" class="flex align-items-center gap-2 border-100 chip w-fit mb-4">
			<span class="text-base font-segoe">Paciente: {{ this.patientSelected.name }} {{ this.patientSelected.surname }}</span>
			<p-button (onClick)="onFilterReset()" icon="pi pi-times" styleClass="p-button-rounded p-button-text"></p-button>
		</div>
	-->

	<div class="text-4xl font-segoe"> Pacientes: </div>

	<div class="mt-5 flex flex-row gap-4 flex-wrap">
		<p-card *ngFor="let patient of patients" 
		header="{{ patient.name }} {{ patient.surname }}" [style]="{ width: '300px' }"
		>
			Últimos turnos:

			<div *ngFor="let appointment of this.getLastAppointments(patient.appointments ?? [])" >
				<span class="text-green-500 font-medium">
					{{ appointment.date | timestampToStrDate }}
				</span>
				
				<span class="text-500 ml-2">
					{{ appointment.timeRange.from | time }} -
					{{ appointment.timeRange.to | time }}
				</span>
			</div>

			<div class="flex flex-column gap-2 mt-4">
				<button (click)="onPatientSelected(patient)"  pButton pRipple label="Ver historia" icon="pi pi-book" class="p-button-outlined"></button>
			</div>
		</p-card>
	</div>
</div>