<div class="flex align-items-center mb-2">
	<p-sidebar [(visible)]="displaySideBar">
		<div class="flex flex-column">
			<button [routerLink]="'/'" pButton pRipple class="p-button-text p-button-plain nav-item"> Home </button>
			
			<button *ngIf="!this.UserLogged" [routerLink]="'/login'" pButton pRipple class="p-button-text p-button-plain nav-item"> Iniciar sesión </button>
			
			<button *ngIf="!this.UserLogged" [routerLink]="'/signin'" pButton pRipple class="p-button-text p-button-plain nav-item"> Registrarme </button>

			<button *ngIf="['PATIENT', 'SPECIALIST'].includes(this.currentUser?.type ?? '')" [routerLink]="'/my-appointments'" pButton pRipple class="p-button-text p-button-plain nav-item"> Mis turnos </button>

			<button *ngIf="['ADMIN'].includes(this.currentUser?.type ?? '')" [routerLink]="'/appointments-manager'" pButton pRipple class="p-button-text p-button-plain nav-item"> Turnos </button>

			<button *ngIf="['PATIENT','ADMIN'].includes(this.currentUser?.type ?? '')" [routerLink]="'/request-appointment'" pButton pRipple class="p-button-text p-button-plain nav-item"> Solicitar turno </button>

			<button *ngIf="['ADMIN'].includes(this.currentUser?.type ?? '')" [routerLink]="'/users-manager'" pButton pRipple class="p-button-text p-button-plain nav-item"> Usuarios </button>

			<button *ngIf="this.UserLogged" [routerLink]="'/my-profile'" pButton pRipple class="p-button-text p-button-plain nav-item"> Mi perfil </button>

			<button *ngIf="this.UserLogged" (click)="this.onLogOut()" pButton pRipple class="p-button-text p-button-plain nav-item"> Cerrar sesión </button>
		</div>
	</p-sidebar>
	
	<button pButton pRipple type="button" icon="pi pi-list" 
		class="p-button-text" (click)="this.displaySideBar = true">
	</button>

	<!-- SPACER -->
	<div class="flex-grow-1"></div>
	
	<div class="mr-2 text-xl font-bold logo-font" [routerLink]="'/'" style="cursor:pointer">
		Turn<span class="text-primary">OS</span>
	</div>
</div>

<div *ngIf="this.loading" class="horizontal-bar-wrap">
	<div class="bar1 bar"></div>
</div>

<div class="mb-3"></div>