<div class="px-3 pb-3 pt-1 shadow-5">
	<form [formGroup]="this.form" class="font-segoe">
		
		<div class="flex flex-row align-items-center gap-2">
			<button *ngIf="this.showReturnButton" (click)="this.goBack()" pButton type="button" class="p-button-text" icon="pi pi-arrow-left"></button>
			<p class="text-2xl font-bold text-primary"> {{ this.userType | userType }} </p>
		</div>
	
		<div class="flex flex-row gap-3 w-full">
			<div class="w-full">
				<label for="name" class="block text-900 font-medium mb-2">Nombre</label>
				<input formControlName="name" id="name" type="text" pInputText class="w-full mb-3" placeholder="Nombre">
			</div>
			
			<div class="w-full">
				<label for="Surname" class="block text-900 font-medium mb-2">Apellido</label>
				<input formControlName="surname" id="Surname" type="text" pInputText class="w-full mb-3" placeholder="Apellido">
			</div>
		</div>
	
		<div class="flex flex-row gap-3 w-full">
			<div class="w-full">
				<label for="DNI" class="block text-900 font-medium mb-2">DNI</label>
				<input formControlName="dni" id="DNI" type="text" pInputText class="w-full mb-3" placeholder="DNI">
			</div>
	
			<div *ngIf="this.userType == 'PATIENT'" class="w-full">
				<label for="obraSocial" class="block text-900 font-medium mb-2">Obra Social</label>
				<input formControlName="healthInsurance" id="obraSocial" type="text" pInputText class="w-full mb-3" placeholder="Obra Social">
			</div>
			
			<div class="w-full">
				<label for="fechaNacimiento" class="block text-900 font-medium mb-2">Fecha de nacimiento</label>
				<p-inputMask ngDefaultControl [ngModelOptions]="{standalone: true}" id="fechaNacimiento" [(ngModel)]="this.userBirthDate" mask="99/99/9999" placeholder="99/99/9999" slotChar="dd/mm/yyyy">
				</p-inputMask>
			</div>
		</div>
	
		<div *ngIf="true" class="flex flex-column gap-3 w-full mb-3">
			<label class="block text-900 font-medium mb-2">Foto de perfil</label>
			<p-fileUpload #fileUploader 
				name="myfile[]" [multiple]="true" accept="image/*"
				[customUpload]="true" (uploadHandler)="handleFileInput($event)" 
				[fileLimit]="2" [showUploadButton]="false" [showCancelButton]="false"
				(onSelect)="this.handleFileInput($event.currentFiles)"
				(onRemove)="this.removeFile($event.file)">
			</p-fileUpload>
		</div>
	
		<app-items-list *ngIf="this.userType == 'SPECIALIST'" (selectedItem)="this.specialitySelected = $event" [items]="this.specialities" title="Especialidad"></app-items-list>
		<div class="mb-4"></div>
	
	
		<label for="email1" class="block text-900 font-medium mb-2">Email</label>
		<input formControlName="email" id="email1" type="text" pInputText class="w-full mb-3">
	
		<label for="password1" class="block text-900 font-medium mb-2">Password</label>
		<input formControlName="password" id="password1" type="password" pInputText class="w-full mb-3">

		<div class="mt-5">
			<div class="text-xl text-500 font-medium">Captcha</div>
			<div>Arrastre las frutas en la canasta:</div>
		</div>
		<div class="card flex flex-wrap gap-3 mt-2 mb-5">
			<div class="p-2 border-1 surface-border border-round">
				<ul class="list-none flex flex-column gap-2 p-0 m-0">
					<li *ngFor="let product of availableItems" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">
						{{product}}
					</li>
				</ul>
			</div>
			<div class="p-2 border-1 surface-border border-round w-5rem" pDroppable (onDrop)="drop()">
				<p class="text-center surface-border border-bottom-1">Canasta</p>
				<ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedItems" >
					<li *ngFor="let product of selectedItems" class="p-2 border-round shadow-1">
						{{product}}
					</li>
				</ul>
			</div>
			<p-button icon="pi pi-replay" styleClass="p-button-rounded p-button-text" (click)="this.restartCaptcha()"></p-button>
		</div>

	
		<button [disabled]="!this.captchaStatus"
		 (click)="this.onRegister()" pButton class="w-full" type="button" label="Registrar" icon="pi pi-check">
		</button>
	</form>
</div>

