
<div class="flex flex-row gap-4 align-items-center mb-2">
	<p class="text-900 font-medium ">{{ this.title }}</p>
	<button class="p-button-text rounded" type="text" pButton icon="pi pi-plus" (click)="op.toggle($event)"></button>
	<div class="flex-grow-1"></div>
</div>

<div class="flex flex-row gap-3 flex-wrap align-items-center list-container">
	<div (click)="this.onItemSelected(item)" [ngClass]="this.getItemStyle(item)" *ngFor="let item of items"> {{ item }} </div>

	<p-overlayPanel #op (onShow)="this.focusItemInput()">
		<ng-template pTemplate>
			<label for="item" class="block text-900 font-medium mb-2">Añadir item</label>
			<input #itemInput id="item" type="text" pInputText class="w-full mb-3">
			
			<button pButton pRipple label="Añadir" icon="pi pi-plus" class=" w-full" (click)="this.onAddItem(itemInput.value)"></button>
		</ng-template>
	</p-overlayPanel>
	
</div>