<h2>Encuesta de atención médica</h2>

<div ngClass="mb-3" *ngIf="this.showErrorMsg" class="text-red-400">Error: Todos los campos son obligatorios</div>

<div class="flex flex-column">
	<div class="mb-4" *ngFor="let question of survey.questions">
		<div class="mb-2"><label for="pregunta1"> {{ question.question }} </label></div>
		<input pInputText [(ngModel)]="question.answer" type="text" id="pregunta1" name="pregunta1" class="w-full" />
	</div>
</div>

<div class="p-field">
<button (click)="onSubmit()" type="submit" class="p-button p-component p-button-primary p-button-rounded">Enviar</button>
</div>