<div id="page-container">
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TurnOS</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/']">
              Home
            </a>
          </li>

          <li *ngIf="!this.isUserLogged" class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/login']">
              Iniciar sesión
            </a>
          </li>

          <li *ngIf="!this.isUserLogged" class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/sign-up']">
              Registrarme
            </a>
          </li>

          <li *ngIf="this.isUserLogged" class="nav-item">
            <a class="nav-link" aria-current="page" (click)="onLogOut()">
              Cerrar sesión
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/about-me']"
            >
              Sobre mí
            </a>
          </li>

          <li class="nav-item">
              <span class="nav-link active">
                {{ this.currentUserEmail }}
              </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="content-wrap">
    <router-outlet></router-outlet>
  </div>
</div>
