<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Obtenga el turno que necesita</span>
            <div class="text-6xl text-primary font-bold mb-3">más fácil que nunca</div>
           
			<p class="mt-0 mb-4 text-900 line-height-3 text-lg">
				¡Bienvenido! Este asistente de turnos le brindará una sencilla experiencia para agendar la atención profesional que está buscando
			</p>
            
			<div class="flex flex-wrap gap-3">
				<button *ngIf="!this.UserLogged" [routerLink]="'/login'" pButton pRipple type="button" class="p-button-raised">
					Iniciar sesión
				</button>
				<button *ngIf="!this.UserLogged" [routerLink]="'/signin'" pButton pRipple type="button" class="p-button-outlined">
					Registrarme
				</button>
			</div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../assets/pexels-cedric-fauntleroy-4266932.jpg" width="800px" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>