.sans{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-segoe{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-card{
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.avatar {
	cursor: pointer;
	vertical-align: middle;
	width: 5.125rem;
	height: 5.125rem;
	border-radius: 8px;
	object-fit: cover;
	transition: width .2s, height .2s;
}

.avatar:hover {
	width: 5rem;
	height: 5rem;
}

.appointments-panel{
	border-radius: 10px;
}



.chip{
	padding: .4rem;
	cursor: pointer;
	background-color: rgb(244, 244, 244);
	border-radius: 10px;
}

.chip:hover{
	background-color: rgb(235, 235, 235);
	color: #2196f3;
}

.rounded{
	border-radius: 50%;
}