<div class="custom-card p-5 flex flex-column gap-3" style="min-width:40vw">
	<div class="text-2xl">Mis horarios</div>

	<div class="flex flex-column mb-2 overflow-auto pr-4" style="max-height:10rem; width: fit-content;">
		<div *ngFor="let weekAvailability of currentUserAvailability.weekAvailability">
			<div class="text-500 mb-4"> Especialidad: {{ weekAvailability.speciality }} </div>
			<div *ngFor="let dayAvailability of weekAvailability.daysAvailability" class="mb-4 flex flex-row gap-4">
				<div class="flex flex-row gap-2">
					<p-chip> {{ dayAvailability.dayIndex | day }} </p-chip>
				</div>
		
				<div>
					Desde: {{ dayAvailability.range.from | time }} h
				</div>
				<div>
					Hasta: {{ dayAvailability.range.to | time }} h
				</div>
			</div>
		</div>
	</div>
	

	<h3>Añadir horario de atención</h3>

	<p-selectButton [options]="specialities" [(ngModel)]="selectedSpecialities" [multiple]="true"></p-selectButton>

	<p-selectButton [options]="days" [(ngModel)]="selectedDays" [multiple]="true"></p-selectButton>

	<div class="flex flex-row gap-4 mt-3">
		<div>
			<label class="block text-900 font-bold font-medium mb-2">Desde</label>
			<input name="toTimeInput" [(ngModel)]="fromTime" type="time">
		</div>
	
		<div>
			<label class="block text-900 font-bold font-medium mb-2">Hasta</label>
			<input name="toTimeInput" [(ngModel)]="toTime" type="time">
		</div>
	</div>
	

	<div class="flex flex-row gap-4">
		<div class="flex-grow-1"></div>
		
		<button (click)="this.onAdd()" icon="pi pi-plus" label="Añadir" pButton pRipple type="button" class="p-button-raised"></button>
	</div>
	
</div>